
@{
    ViewBag.Title = "Odczynniki";
}

<h2><b>Tryb: </b>użytkownik</h2>

<div class="info">
    Na tym koncie możesz:
    <ul>
        <li>przeglądać bazę,</li>
        <li>składać zamównienia,</li>
        <li>realizować zamównienia.</li>
    </ul>
</div>
