
@{
    ViewBag.Title = "Odczynniki";
}

<h2><b>Tryb:</b> administrator</h2>

<div class="info">
    Na tym koncie możesz zarządzać:
    <ul>
        <li>użytkownikami,</li>
        <li>bazą odczynników,</li>
        <li>bazą zamówień.</li>
    </ul>
</div>
