@{
    ViewBag.Title = "Dodatkowe informacje";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<p>Dodatkowe informacje - których nie ma. W razie pytań, proszę pisać na mejla. Adres mejlowy podany jest w zakładce Kontakt</p>
