@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mariusz Gwiazdecki<br />
    Projekt - Programowanie zaawansowane
    </address>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:mariusz.gwiazdecki@gmail.com">mariusz.gwiazdecki@gmail.com</a>
</address>
